@import './fontawesome.scss';
@import './solid.scss';
@import './brands.scss';
@import './regular.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import '_personalMixins.scss';
@import '_colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    margin: 1em auto;
    text-align: center;
    transition: .5s all ease;

    &.darkMode {
    background: $darkModeC;

      .title-app,
      .fas {
        color: $secondaryLogoC;
      }

      footer {
        span {
          color: $secondaryLogoC;
        }
      }
    }
    
    footer {
      color: $primaryLogoC;
      @include centerBottomAbs;

      span {
        color: $invertSecondaryLogoC;
      }
    }
  }
}

.ios {
  @include centerizePage;
  @include ios-toggle;
}

.fas {
  position: absolute;
  top: 0;
}

.fa-sun {
  left: $iconPosition;
  display: none;
}

.fa-moon {
  right: $iconPosition;
}

.title-app {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
}

