@import 'fontawesome/fontawesome.scss';
@import 'fontawesome/solid.scss';
@import 'fontawesome/brands.scss';
@import 'fontawesome/regular.scss';
@import '_mixins.scss';
@import '_colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    margin: 1em auto;
    text-align: center;
    transition: .5s all ease;

    &.darkMode {
    background: $darkModeC;

      .title-app,
      .fas {
        color: $secondaryLogoC;
      }

      footer {
        a {
          transition: .3s all ease;

          &:hover {
            color: $secondaryLogoC;
          }

          span {
            color: $secondaryLogoC;
          }
        }
      }
    }
    
    footer {
      @include centerBottomAbs;
      a {
        transition: .5s all ease;
        color: $primaryLogoC;
        
        &:hover {
          color: $invertSecondaryLogoC;

        }

        span {
          color: $invertSecondaryLogoC;            
        }
      }
    }
  }
}

.ios {
  @include centerizePage;
  @include ios-toggle;
}

.fas {
  position: absolute;
  top: 0;
}

.fa-sun {
  left: $iconPosition;
  display: none;
}

.fa-moon {
  right: $iconPosition;
}

header {
  .title-app {
    @include setFontNoto;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}

a {
  @include setFontNoto;
  @include resetLink;
}